<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{ partial "head.html" . }}
<body id="page-top" class="index">

<div class="wrapper">
    <!-- Start Header Style -->
    <header class="htc__header">
        <!-- Start Header Top Area -->
        {{ partial "header.html" . }}
        
        <!-- End Header Top Area -->
        <!-- Start Mainmenu Area -->
        {{ partial "menu.html" . }}
        <!-- End Mainmenu Area -->
        <!-- End Mainmenu Area -->
    </header>
    <!-- End Header Style -->   

    {{ if .Site.Params.support.enable }}
    {{ partial "support.html" . }}
    {{ end }}   
    
    <!-- Start Try Solve Area -->
    {{ if .Site.Params.solve.enable }}
    {{ partial "solve.html" . }}
    {{ end }}

    <!-- Start Footer Area -->
    {{ partial "footer.html" . }}
    <!-- End Footer Area -->
</div>
<!-- Body main wrapper end -->

<!-- Placed js at the end of the document so the pages load faster -->
{{ partial "js.html" . }}

</body>

</html>