{{ "<!-- Blog Area -->" | safeHTML }}

<section class="htc__blog__area home-blog bg__white pt--130 pb--40">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section__title text-center">
                    <h2 class="title__line text--theme">Latest Post</h2>
                    <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment blinded</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="htc__blog__wrap clearfix mt--30">
                <!-- Start single Blog -->
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="blog foo">
                        <div class="ht__blog__thumb">
                            <a href="blog-details.html">
                                <img src="images/blog/blog-img/1.jpg" alt="blog images">
                            </a>
                        </div>
                        <div class="htc__blog__inner">
                            <div class="ht__blog__sub">
                                <h2><a href="blog-details.html">Session wtih psyshologist can change the relationship</a></h2>
                                <span class="bl__date">25 Aug, 2017</span>
                            </div>
                            <ul class="ht__blog__meta">
                                <li>Like   29</li>
                                <li>View   75</li>
                                <li><a href="#">Comments   12</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End single Blog -->
                <!-- Start single Blog -->
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="blog foo">
                        <div class="ht__blog__thumb">
                            <a href="blog-details.html">
                                <img src="images/blog/blog-img/2.jpg" alt="blog images">
                            </a>
                        </div>
                        <div class="htc__blog__inner">
                            <div class="ht__blog__sub">
                                <h2><a href="blog-details.html">Session wtih psyshologist can change the relationship</a></h2>
                                <span class="bl__date">29 Aug, 2017</span>
                            </div>
                            <ul class="ht__blog__meta">
                                <li>Like   29</li>
                                <li>View   75</li>
                                <li><a href="#">Comments   12</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End single Blog -->
                <!-- Start single Blog -->
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="blog foo">
                        <div class="ht__blog__thumb">
                            <a href="blog-details.html">
                                <img src="images/blog/blog-img/3.jpg" alt="blog images">
                            </a>
                        </div>
                        <div class="htc__blog__inner">
                            <div class="ht__blog__sub">
                                <h2><a href="blog-details.html">Session wtih psyshologist can change the relationship</a></h2>
                                <span class="bl__date">25 Aug, 2017</span>
                            </div>
                            <ul class="ht__blog__meta">
                                <li>Like   29</li>
                                <li>View   75</li>
                                <li><a href="#">Comments   12</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End single Blog -->
            </div>
        </div>
    </div>
</section>