{{ "<!-- Gallery -->" | safeHTML }}

<section class="htc__gallery__area gallery--1 pb--150 pt--140">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section__title text-center">
                    <h2 class="title__line text--theme">Gallerie </h2>
                    <p>
                        Quand on construit une vision elle n’est que la projection de ce qu’on veut voir ou ne pas voir en nous, un peu comme se voiler la face!
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="htc__gallery__wrap clearfix activation__time--1 owl-carousel owl-theme">
                <!-- Start Single Gallery -->
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="gallery">
                        <div class="gallery__thumb">
                            <a href="#"><img src="/images/portfolio/gallery/cartes.jpg" alt="gallery images"></a>
                        </div>
                        <div class="gallery__hover">
                            <div class="gallery__hover__info">
                                <a href="/images/portfolio/big-img/1.jpg" data-lightbox="grportimg" data-title="Cartes">Cartes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Gallery -->
                <!-- Start Single Gallery -->
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="gallery">
                        <div class="gallery__thumb">
                            <a href="#"><img src="/images/portfolio/gallery/bracelet_energie.jpg" alt="gallery images"></a>
                        </div>
                        <div class="gallery__hover">
                            <div class="gallery__hover__info">
                                <a href="/images/portfolio/big-img/8.jpg" data-lightbox="grportimg" data-title="bracelet energie">Bracelet energie</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Gallery -->
                <!-- Start Single Gallery -->
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="gallery">
                        <div class="gallery__thumb">
                            <a href="#"><img src="/images/portfolio/gallery/tirage.jpg" alt="gallery images"></a>
                        </div>
                        <div class="gallery__hover">
                            <div class="gallery__hover__info">
                                <a href="/images/portfolio/big-img/2.jpg" data-lightbox="grportimg" data-title="Tirage">La haine tue toujours, l’amour ne meurt jamais</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Gallery -->
                <!-- Start Single Gallery -->
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="gallery">
                        <div class="gallery__thumb">
                            <a href="#"><img src="/images/portfolio/gallery/2.jpg" alt="gallery images"></a>
                        </div>
                        <div class="gallery__hover">
                            <div class="gallery__hover__info">
                                <a href="/images/portfolio/big-img/8.jpg" data-lightbox="grportimg" data-title="My caption">Depression Therapy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Gallery -->
                <!-- Start Single Gallery -->
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="gallery">
                        <div class="gallery__thumb">
                            <a href="#"><img src="/images/portfolio/gallery/3.jpg" alt="gallery images"></a>
                        </div>
                        <div class="gallery__hover">
                            <div class="gallery__hover__info">
                                <a href="/images/portfolio/big-img/2.jpg" data-lightbox="grportimg" data-title="My caption">Depression Therapy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Gallery -->
            </div>
        </div>
    </div>
</section>