{{ "<!-- Solve section -->" | safeHTML }}
<section class="htc__try__solve__area">
    <div class="container-fluid">
        <div class="home--try" style="background: rgba(0, 0, 0, 0) url(images/about/2.jpg) no-repeat scroll 0 0 / cover;" data--theme__overlay="88">
            <div class="htc__try__solveleft">
                <div class="htc__try__details">
                    <h2>Je vous propose des bracelets, amulettes</h2>
                    <!--<h2>EN PIERRES NATURELLES MAGNÉTISÉES.</h2>-->
                    <p>
                        Il est possible de commander un bracelet en connexion à base d’une photo (yeux visibles et sans filtre).
                    </p>
                </div>
            </div>
        </div>                
        <div class="row">
            <div class="col-lg-offset-5 col-md-offset-5 col-md-7 col-lg-7 col-sm-12 col-xs-12">
                <div class="htc__solve__items bg__gray">
                    <div class="htc__solve__content">
                        <!-- Start Single Items -->
                        <div class="ht__sin__solve">
                            <h4>Soins énergétiques<!--<a href="single-service.html"></a>--></h4>
                            <p>
                                Je canalise et je mets en relation l’énergie universelle de la force vitale 
                                incluant la matière, l’âme et l’esprit.                                
                            </p>
                        </div>
                        <!-- End Single Items -->
                        <!-- Start Single Items -->
                        <div class="ht__sin__solve">
                            <h4>Canalisation des énergies</h4>
                            <p>
                            Canalisation des énergies universelles bénéfiques en reiki & magnétisme ~ Séance complète.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Items -->
                    <div class="htc__solve__content">
                        <!-- Start Single Items -->
                        <div class="ht__sin__solve">
                            <h4>Purification physique</h4>
                            <p>
                                Purification physique / équilibrage des chakras ( humain, animaux, plantes ).                           
                                
                            </p>
                        </div>
                        <!-- End Single Items -->                        
                        <!-- Start Single Items --> 
                        <div class="ht__sin__solve">
                            <h4>Purification et recharge</h4>
                            <p>
                                Purification et recharge d’un objet qui vous tient à cœur (bijoux ou autres).
                            </p>
                        </div>
                        <!-- End Single Items -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>