{{ "<!-- Therapy Provide -->" | safeHTML }}

<section class="htc__therapy__provide bg__white">
    <div class="container">
        <div class="row">
            <div class="psy__therapy__wrap clearfix">
                <div class="col-md-5 col-lg-5 col-sm-4 col-xs-12">
                    <div class="htc__therapy__title">
                        <h2 class="text--theme">Je vous propose des bracelets, amulettes</h2>
                        <p>
                            Il est possible de commander un bracelet en connexion à base d’une photo (yeux visibles et sans filtre).
                        </p>
                        <p>
                            Le bracelet sera crée en connexion avec vos énergies, j’ignore le résultat visuel de votre bracelet à l’avance, c’est une création énergétique en médiumnité pour le bien être, donc ce n’est absolument pas un bijoux esthétique même si il peut très bien être joliment réalisé.
                        </p>
                    </div>
                </div>
                <div class="col-md-7 col-lg-7 col-sm-8 col-xs-12">
                    <div class="row">
                        <!-- Start Single Therapy -->
                        <div class="single-therapy clearfix">
                            <!-- Start Single Therapy -->
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                <div class="ht__therapy">
                                    <div class="ht__therapy__icon">
                                        <i class="icofont icofont-tick-mark"></i>
                                    </div>
                                    <div class="ht__therapy__details">
                                        <h2><a href="single-service.html">Soins énergétiques</a></h2>
                                        <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dantium, totam rem aperiam, eaque</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Start Single Therapy -->
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 xmt--70">
                                <div class="ht__therapy">
                                    <div class="ht__therapy__icon">
                                        <i class="icofont icofont-tick-mark"></i>
                                    </div>
                                    <div class="ht__therapy__details">
                                        <h2><a href="single-service.html">Canalisation des énergies</a></h2>
                                        <p>
                                            Canalisation des énergies universelles bénéfiques en reiki & magnétisme ~ Séance complète.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Therapy -->
                        </div>
                        <!-- End Single Therapy -->
                        <!-- Start Single Therapy -->
                        <div class="single-therapy clearfix">
                            <!-- Start Single Therapy -->
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                <div class="ht__therapy">
                                    <div class="ht__therapy__icon">
                                        <i class="icofont icofont-tick-mark"></i>
                                    </div>
                                    <div class="ht__therapy__details">
                                        <h2><a href="single-service.html">Purification physique</a></h2>
                                        <p>
                                            Purification physique / équilibrage des chakras ( humain, animaux, plantes ).                            
                                Equilibrage des chakras ( humain, animaux, plantes )
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Start Single Therapy -->
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 xmt--70">
                                <div class="ht__therapy">
                                    <div class="ht__therapy__icon">
                                        <i class="icofont icofont-tick-mark"></i>
                                    </div>
                                    <div class="ht__therapy__details">
                                        <h2><a href="single-service.html">Purification et recharge</a></h2>
                                        <p>
                                            Purification et recharge d’un objet qui vous tient à cœur (bijoux ou autres).
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Therapy -->
                        </div>
                        <!-- End Single Therapy -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>